<footer>
    <h1>Follow Me</h1>

    <div class="socialMedia">
        <a href="http://instagram.com/sukhdeeprayat" target="_blank">
            <div [routerLink]="instagram">
                <img src="../../../assets/instagram.png" alt="" class="instagram">
                <p>Instagram</p>
            </div>
        </a>

        <a href="https://www.facebook.com/sukhdeep.rayat.9" target="_blank">
            <div>
                <img src="../../../assets/facebook.png" alt="" class="facebook">
                <p>Facebook</p>
            </div>
        </a>

        <a href="https://www.linkedin.com/in/sukhdeep-singh-9a6868144" target="_blank">
            <div>
                <img src="../../../assets/linkedin.png" alt="" class="linkedin">
                <p>Linkedin</p>
            </div>
        </a>

        <a href="https://twitter.com/sukhdee04784062" target="_blank">
            <div>
                <img src="../../../assets/twitter.png" alt="" class="twitter">
                <p>Twitter</p>
            </div>
        </a>
    </div>
</footer>