.header {
    display: flex;
    justify-content: center;
    background-color: teal;
    height: 7rem;
    align-content: center;
    position: relative;
   
    
}

.burger{
    display: flex;
    align-content: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
   }

.burger img{
    width: 5rem;
    margin: auto 2rem;
}
.stickerImg img{
    width: 5rem;
    margin: 0.5rem  auto 0.5rem 0;
    
}