.snapDiv{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.snapDiv .sukhImg{
    position: absolute;
    width: 20%;
    transform-origin: right;
    top: 0;
    left: 50%;
    transform:translate(-50%,0);
}

.snapDiv .imgLeft{
    animation-name: iLeft;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 1s;

}

.sukhdeep{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: #fefeff;
    font-size: 14rem;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: -8px -8px 12px rgba(247, 244, 244, 0.4),8px 8px 12px rgba(0,0,0,0.08);
    caret-color: #262626;
    outline: none;
}

@keyframes iLeft {
    0%{
  
    }
    100%{
    transform: translate(-50px);
    opacity: 0;
    filter: blur(10px);

    }
}

.imgReverse{
    animation-name: iReverse;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes iReverse {
    0%{
    transform: translate(50px);
    opacity: 0;
    filter: blur(10px);
    }
    100%{
    transform: translateX(-50%);
    left: 50%;
    opacity: 100%;
    filter: blur(0px);
    }
}

/* noise */

.noise{
    position: absolute;
    top: 0;
    left: 40%;
    transform:translate(-50%,0);
    width: 600px;
    height: 600px;
    transform: translateX(400px) scaleX(0);
    transform-origin: left;
    text-align: center;
    animation-fill-mode: forwards;

}

.noiseRight{
    animation-name: noiseLeft;
    animation-duration: 8s;
    transform:translate(-400px) scaleX(1.3);

}

@keyframes noiseLeft {
    0%   {transform: translateX(400px) scaleX(0);

        }
    98% {
        transform:translate(-400px) scaleX(1.2);;
        opacity: 100%;
       
    }
    100%{
        opacity: 0;
        display: none;
    }
  }

  .noiseReverse{
    animation-name: nReverse;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  @keyframes nReverse {
            0%   {
            transform: translateX(-400px) scaleX(1.2);
            opacity: 0;
          
            }
        98% {
            transform:translate(400px) scaleX(0);;
            opacity: 70%;
        }
        100%{
            opacity: 0;
            display: none;
        }
  }



  .gauntlet{
    background-image: url('https://www.google.com/logos/fnbx/thanos/thanos_idle.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    position:absolute;
    cursor: pointer;

  }

  .gauntletRun{
    animation-name: gRun;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes gRun{
      99%{
           background-image: url('../../assets/snap.gif');
        }
      100%{
        background-image: url('https://www.google.com/logos/fnbx/thanos/thanos_idle.png');
      }
  }

  .gauntletReverse{
    animation-name: gReverse;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes gReverse{
      99%{
           background-image: url('../../assets/snapReverse.gif');
        }
      100%{
        background-image: url('https://www.google.com/logos/fnbx/thanos/thanos_idle.png');
      }
  }













  @media only screen and (max-width: 600px) {

    .snapDiv .sukhImg{
        width: 60%;
    }

    .gauntlet{
        bottom: 12rem;
    }

    .sukhdeep{
        font-size: 6rem;
        top: 30%;
    }

  }