/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap"');




*{
    margin: 0;
    padding: 0;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}


.flexCenter{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flexBtw{
  display: flex;
  justify-content: center;
}